<div class="tabs">
  <a class="tab bookmarks-tab" routerLinkActive="selected" routerLink="bookmarks">
    <div class="tab-tile">
      <span class="material-icons-outlined"> bookmarks </span>
    </div>
  </a>

  <a class="tab to-dos-tab" routerLinkActive="selected" routerLink="todos">
    <div class="tab-tile">
      <span class="material-icons-outlined"> check </span>
    </div>
  </a>

  <a class="tab notes-tab" routerLinkActive="selected" routerLink="notes">
    <div class="tab-tile">
      <span class="material-icons-outlined"> notes </span>
    </div>
  </a>
</div>
