<div class="tabs">
  <a class="tab bookmarks-tab" routerLinkActive="selected" routerLink="bookmarks">
    <div class="tab-tile">
      <i class="material-icons-outlined "> bookmarks </i>
    </div>
  </a>

  <a class="tab to-dos-tab" routerLinkActive="selected" routerLink="todos">
    <div class="tab-tile">
      <i class="material-icons-outlined "> check </i>
    </div>
  </a>

  <a class="tab notes-tab" routerLinkActive="selected" routerLink="notes">
    <div class="tab-tile">
      <i class="material-icons-outlined "> notes </i>
    </div>
  </a>
</div>
