<div class="edit-todo-wrapper has-blurred-white-bg container">
    <h2 class="is-bold">Edit Todo</h2>

    <p *ngIf="!todo">Todo not found!</p>
  
    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)" *ngIf="todo">
        <div class="form-field">
      <input class="text-box" [ngModel]="todo?.text" name="textField"  #textField="ngModel" type="text" placeholder="Enter text..." required minlength="3" />
      <ng-container *ngIf="showValidationErrors && textField.invalid">
        <p *ngIf="textField.errors?.['required']">Please enter some a todo</p>
        <p *ngIf="textField.errors?.['minlength']">Todo text must be at least three characters</p>
      </ng-container>
      </div>
  
      <div class="buttons-container">
        <a routerLink="../" class="btn">Cancel</a>
        <button class="btn align-end">Save</button>
      </div>
    </form>
  </div>
